.cardItem{
    display: inline-block;
    box-sizing: border-box;
    margin-right: 12px;
    width: 120px;
    margin-top: 10px
}
Img{
     width: 100px;
    height: 150px;
}
p{
    color: magenta
}
.cardItem:hover{
    background-color: rgb(216, 215, 215);
    color:blue;
}