<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="figma.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="navbar-tot">
            <img src="./Frame 36868.png">
            <div class="navbar">
                <!-- <div> -->
                    <ul class="nav-left">
                        <li id="home">Home</li>
                        <li>About Us</li>
                        <li>Our Interests</li>
                        <li>Values</li>
                        <li>Current Project</li>
                    </ul>
                <!-- </div> -->
                <!-- <div> -->
                    <button class="btn-sign">Sign Up</button>
                <!-- </div> -->
            </div>
        </div>
        <div class="ava">
            <img src="./Frame.png">
        </div>
        <div class="text-body">
            <p>Let's take a
            tour to <p1>Blockchain</p1>
            technology</p>
        </div>
        <div class="text-small">
            <p>We are highly focused by blockchain technology that will lead positively to the future web</p>
        </div>
        <div class="btn-body">
            <button class="btn-get">Get Started ></button>
            <button class="btn-learn">Learn more</button>
        </div>
        <div class="client">
            <img src="./Clients.png">
        </div>

        <div class="ilustration">
            <img src="./About Us Illustration.png">
        </div>

        <div class="about-us">
            <img src="./Frame 36911.png">
        </div>
        <div class="text-interest">
            <img src="./Our Interests.png">
        </div>
        <div class="small-text">
            <p>It's the norm these days to lay out a roadmap that gives stakeholders an indication of the direction that the project aspires to go. Inspired by Elon Musk’s 2006 masterplan, these are our skeleton ambitions.</p>            
        </div>
        <div class="three-blocks">
            <img src="/Frame 36909.png">
        </div>
    </div>
</body>
</html>