body{
    background-image:url('bckgrnd.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.container{
    display: grid;
    height: 400px;
}
.up{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.img-ayam img{
    width: 80%;
    margin-left: 20px;
    height: 500px;
    height: 80%;
}
p1{
    font-size: 20px;
}
h1{
   font-family: 'Gentium Book Plus', serif;
   color: #F37878;
}
.btn-landing{
    position: absolute;
    left:210px;
    top:300px;
    padding: 20px;
}
.btn-left{
    margin-right: 20px;
    background-color: #FAD9A1;
    border-radius: 10px;
    color:blue
}
.btn-left:hover{
    background-color: greenyellow;
    color: black;
}
.btn-about:hover{
    background-color: greenyellow;
    color: black;
}
.btn-about{
    margin-right: 20px;
    background-color: #FAD9A1;
    border-radius: 10px;
    color:blue
}
.img-add{
    position: absolute;
    bottom: 5px;
    margin-left: 100px;
}
.service{
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 10px;
    gap: 10px;
    text-align: center;
}
.tab-service{
    backdrop-filter: blur(10px);
    background-color: rgb(34, 37, 37);
    padding: 5px;
}
.self-service{
    backdrop-filter: blur(10px);  
    background-color: rgb(34, 37, 37);
    padding: 5px;
}
.take-away{
    backdrop-filter: blur(10px);  
    background-color: rgb(34, 37, 37);
    padding: 5px;
}
.delivery-order{
    backdrop-filter: blur(10px);  
    background-color: rgb(34, 37, 37);
    padding: 5px;
}
.service p1{
    font-family: 'Gentium Book Plus', serif;
    color: #F37878;
}
.service p{
    font-size: 13px;
}
.service img{
    justify-items: center;
    margin: auto;
    width: 40px;
    height: 40px;
}